/* Google Fonts | Omonjon */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Manrope:wght@400;500;600;700;800&display=swap');

/* Bootstrap tools | Omonjon */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #313131;
    --title-color-after: rgb(20, 82, 159);
    --text-color: #000000;
    --text-color-light: #737387;
    --color-gray: #F1F2F4;
    --primary-transition:0.37s;
}

body {
    font-family: Manrope, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.title-color {
    color: var(--title-color) !important;
}

.title-color-after {
    color: var(--title-color-after) !important;
}

.text-color {
    color: var(--text-color) !important;
}

.text-color-light{
    color: var(--text-color-light) !important;
}

.w-26 {
    width: 26%;
}

.w-35px {
    width: 35px;
}

.w-56px {
    width: 56px;
}
.h-35px {
    height: 35px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.fs-6 {
    font-size: 1.25rem !important;
}

.fs-7 {
    font-size: 1rem !important;
}

.fs-8 {
    font-size: 0.875rem !important;
}

.fs-9 {
    font-size: 0.75rem !important;
}

.w-max-content {
    width: max-content !important;
}

.opacity-7 {
    opacity: 0.7;
}

.outline-none {
    outline: none;
}

.transition {
    transition: .4s;
}

.fs-title {
    font-size: 2.25rem;
}

.fs-title-sec {
    font-size: 1.625rem;
}

input,
button {
    outline: none;
}

.btn-primary:hover{
    background: transparent;
    color: var(--bs-primary);
}

.border-none {
    border: none;
}

.primary-hover:hover{
    color: var(--bs-primary) !important;
}

li,
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* ==================== Loader | Omonjon ==================== */
.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto 0;
    background-color: var(--bs-white);
    display: grid;
    place-items: center;
    z-index: 100;
}

.load .load-gif {
    max-width: 500px;
    width: 100%;
    height: 100%;
}

/*=============== Maxsus imkoniyatalar ===============*/
/*=============== toggle effects ===============*/
html.blind {
    filter: grayscale(1) invert(0);
    -webkit-filter: grayscale(1) invert(0);
    -moz-filter: grayscale(1) invert(0);
    -o-filter: grayscale(1) invert(0);
    background-color: darkgrey;
    background-image: none;
    color: #333 !important;
}

#toggleThemeMode[type=checkbox],
#toggleVoiceMode[type=checkbox] {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.darkmode .label,
.voicemode .label {
    display: flex;
    width: 60px;
    height: 30px;
    border: 2px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.darkmode .label:before,
.voicemode .label:before {
    transition: transform 0.5s ease;
    transition-delay: 0s;
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #000;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

#toggleThemeMode[type=checkbox]:checked+.label:before,
#toggleVoiceMode[type=checkbox]:checked+.label:before {
    transform: translateX(30px);
    background-color: var(--bs-dark);
}

#toggleThemeMode[type=checkbox]:checked+.label,
#toggleVoiceMode[type=checkbox]:checked+.label {
    background-color: var(--bs-primary);
}

.noDefalult {
    width: auto;
    display: inline-block;
    cursor: default;
    position: relative;
    color: #212529 !important;
    padding: 0 !important;
}

.btn-voice,
#voiceSelect {
    display: none;
}

.btn-voice {
    z-index: 999;
    border: 2px solid var(--bs-dark);
    border-radius: 8px;
    overflow: hidden;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.visibility-hidden {
    visibility: hidden !important;
}

.user-select {
    user-select: none !important;
}

/*=============== voice ===============*/
.icon-voice {
    background: var(--bs-primary);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-radius: 50%;
}

.decremet {
    font-size: 10px;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.decremet.visibile {
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment {
    font-size: 24px;
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment.visibile-hide {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.increment,
.decremet,
.autoSize {
    width: 40px;
    height: 40px;
    background-color: var(--bs-primary);
    color: var(--bs-secondary) !important;
    transition: 0.3s ease;
    border-radius: 8px;
    border: 1px solid var(--bs-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    border: none !important;
}

.dropdown-not-close .dropdown-item:hover,
.dropdown-not-close .dropdown-item:focus {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-primary) !important;
}


/* ==================== Header | Omonjon ==================== */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header .primary-hover:hover i {
    color: var(--bs-primary);
}

.nice-select-default {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

.btn-close:focus {
    box-shadow: none;
}

.dropdown-arrow.show::after {
    transform: rotate(-135deg);
}

.dropdown-arrow:hover:after,
.dropdown-arrow:focus:after{
    border-color: var(--bs-primary);
}

.dropdown-arrow::after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    border-left: initial !important;
    border-top: initial !important;
    content: "";
    display: block;
    height: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: 55%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    /* transition: all .15s ease-in-out; */
    transition: var(--primary-transition);
    width: 6px;
}

/* ==================== APP SECTION | Omonjon ==================== */
.app-section-title{
    font-size: 30px;
    margin-bottom: 55px;
    line-height: 30px;
    color: #313131;
    font-weight: 700;
    position: relative;
}

.app-section-title:after{
    content: "Мобильное приложение";
    position: absolute;
    left: -25px;
    top: -20px;
    max-width: 818px;
    width: 100%;
    height: auto;
    font-size: 55px;
    font-weight: 800;
    line-height: 30px;
    opacity: 0.1;
    color: rgb(20, 82, 159);
}

/* ==================== PRODUCTS SECTION | Omonjon ==================== */
.products-section-title{
    font-size: 30px;
    line-height: 30px;
    color: #313131;
    font-weight: 700;
    position: relative;
}

.products-section-title:after{
    content: "Страховые продукты";
    position: absolute;
    left: -25px;
    top: -20px;
    max-width: 818px;
    width: 100%;
    height: auto;
    font-size: 55px;
    font-weight: 800;
    line-height: 30px;
    opacity: 0.1;
    color: rgb(20, 82, 159);
}

.products__item {
    border-bottom: 2px solid transparent;
}

.products-section .active-product {
    color: var(--bs-primary) !important;
    border-bottom: 2px solid var(--bs-warning) !important;
}

/* ==================== NEWS COMPANY SECTION | Omonjon ==================== */
.news-company-title{
    font-size: 30px;
    line-height: 30px;
    color: #313131;
    font-weight: 700;
    position: relative;
}

.news-company-title:after{
    content: "Новости компании";
    position: absolute;
    left: -25px;
    top: -20px;
    max-width: 818px;
    width: 100%;
    height: auto;
    font-size: 60px;
    font-weight: 800;
    line-height: 30px;
    opacity: 0.1;
    color: rgb(20, 82, 159);
}

.hover-shadow:hover {
    transform: translateY(-15px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.hover-sm-shadow:hover {
    transform: translateY(-6px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
/* ==================== NEWS INS SECTION | Omonjon ==================== */
.news-ins-title{
    font-size: 30px;
    line-height: 30px;
    color: #313131;
    font-weight: 700;
    position: relative;
}

.news-ins-title:after{
    content: "Новости компании";
    position: absolute;
    left: -25px;
    top: -20px;
    max-width: 818px;
    width: 100%;
    height: auto;
    font-size: 60px;
    font-weight: 800;
    line-height: 30px;
    opacity: 0.1;
    color: rgb(20, 82, 159);
}

/* ==================== CONTACT SECTION | Omonjon ==================== */
.contact-section-title{
    font-size: 30px;
    line-height: 30px;
    color: #313131;
    font-weight: 700;
    position: relative;
}

.contact-section-title:after{
    content: "Контактная информация";
    position: absolute;
    left: -25px;
    top: -20px;
    max-width: 818px;
    width: 100%;
    height: auto;
    font-size: 60px;
    font-weight: 800;
    line-height: 30px;
    opacity: 0.1;
    color: rgb(20, 82, 159);
}

.work-process {
    max-width: 500px;
    margin: 50px auto;
}

.project-bar {
    height: 25px;
    background: #e0e0e0;
    border-radius: 30px;
}

.project-percent {
    height: 25px;
    background-color: #216ECF;
    border-radius: 30px;
    position: relative;
    width: 0;
    transition: 2s linear;
}

.project-percent::before {
    content: attr(percent);
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 1px 0px;
    color: #ffffff;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    width: 20px;
    margin: 0px auto;
}

/*=============== SCROLL BAR | Omonjon ===============*/
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 80%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-primary);
}

/*=============== SCROLL UP | Omonjon ===============*/
.scroll_up {
    position: fixed;
    right: 3.5rem;
    bottom: -100%;
    background-color: var(--bs-primary);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--bs-white);
    z-index: 10;
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scroll_up:hover {
    transform: translateY(-.35rem);
    background-color: var(--bs-white);
    color: var(--bs-dark);
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 4rem;
}

@media (max-width: 1200px) {
    .products-section-title:after{
        display: none;
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .app-section-title,
    .products-section-title,
    .news-company-title,
    .news-ins-title,
    .contact-section-title{
        font-size: 20px;
    }
    .app-section-title:after,
    .news-company-title:after,
    .news-ins-title:after,
    .contact-section-title:after{
        top: -15px;
        font-size: 40px;
    }
    .scroll_up {
        right: 1rem;
    }
}

@media (max-width: 576px) {
    .app-section-title,
    .products-section-title,
    .news-company-title,
    .news-ins-title,
    .contact-section-title{
        text-align: center;
        font-size: 20px;
    }
    .app-section-title:after,
    .news-company-title:after,
    .news-ins-title:after,
    .contact-section-title:after{
        display: none;
    }
}